// IMPORT SASS
@import "./utils/variables";
@import "./utils/functions";
@import "./utils/mixins";
@import "./utils/extensions";
@import "./base/base";
@import "./base/typography";
@import "./components/buttons";
@import "./components/button-functionning";
@import "./layouts/header";
@import "./layouts/nav";
@import "./Layouts/footer";

.location {
    @include justify-center;
    padding: 1rem;
    background-color: $colour-darker-white;
    h3 {
        padding-left: 1rem;
    }
}
.home-description {
    @include justify-column;
    padding: 2.5em;
    text-align: center;
    background-color: $colour-dark-white;
    display: block;
    h2 {
        padding-bottom: 0.5em;
        font-weight: bold;
        font-size: 1.6em;
    }
    &__subtitle {
        margin-bottom: 2em; // N'est pas pris en compte ?
    }
}
.functionning {
    @include justify-column;
    padding: 3em 2em 3em 2em;
    display: grid; 
    grid-template-columns: 1fr; 
    grid-template-rows: 1fr 1fr 1fr 1fr; 
    gap: 7% 0px; 
    grid-template-areas: 
    "."
    "."
    ".";
    h3 {
        font-size: 1.5em;
        font-weight: bold;
    }
    
}