// IMPORT SASS
@import "./utils/variables";
@import "./utils/functions";
@import "./utils/mixins";
@import "./utils/extensions";
@import "./base/base";
@import "./base/typography";
@import "./components/buttons";
@import "./layouts/header";
@import "./layouts/nav";

.location {
    @include justify-center;
    padding: 1rem;
    background-color: $colour-darker-white;
    h3 {
        padding-left: 1rem;
    }
}
.home-description {
    @include justify-column;
    display: block;
    padding: 2.5em;
    text-align: center;
    background-color: $colour-dark-white;
    h2 {
        padding-bottom: 0.5em;
        font-weight: bold;
        font-size: 1.6em;
    }
    p {
        padding-bottom: 1.5em;
    }
}