@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;1,300&display=swap");
* {
  margin: 0;
  text-decoration: none;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.block-page {
  max-width: 1440px;
  width: 100%;
}

.typo_logo {
  font-family: 'Shrikhand', cursive;
}

* {
  font-family: 'Roboto', sans-serif;
}

.button {
  background: #9356dc;
  background: -webkit-gradient(linear, left bottom, left top, from(#9356dc), to(#ff79da));
  background: linear-gradient(0deg, #9356dc 0%, #ff79da 100%);
  border: 0;
  border-radius: 100px;
  padding: 1.2em;
  color: white;
  text-decoration: none;
  font-weight: bold;
  -webkit-box-shadow: 5px 5px 12px 4px rgba(0, 0, 0, 0.27);
  box-shadow: 5px 5px 12px 4px rgba(0, 0, 0, 0.15);
}

.button-functionning {
  -webkit-box-shadow: 5px 5px 12px 4px rgba(0, 0, 0, 0.27);
  box-shadow: 5px 5px 12px 4px rgba(0, 0, 0, 0.15);
  background-color: #f6f6f6;
  padding: 2em 0 2em 2em;
  font-weight: bold;
  border-radius: 25px;
}

.button-functionning i {
  color: #818181;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 5px 5px 12px 4px rgba(0, 0, 0, 0.27);
  box-shadow: 5px 5px 12px 4px rgba(0, 0, 0, 0.15);
  border: 0;
  background-color: white;
  padding: 1em;
}

footer {
  background-color: #353535;
  color: white;
  padding: 1em 2em 0 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer a {
  color: white;
}

footer a:hover {
  color: #ff79da;
}

.location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1rem;
  background-color: #eaeaea;
}

.location h3 {
  padding-left: 1rem;
}

.home-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 2.5em;
  text-align: center;
  background-color: #f6f6f6;
  display: block;
}

.home-description h2 {
  padding-bottom: 0.5em;
  font-weight: bold;
  font-size: 1.6em;
}

.home-description__subtitle {
  margin-bottom: 2em;
  font-size: 1.2em;
}

.functionning {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  padding: 3em 2em 3em 2em;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 7% 0px;
      grid-template-areas: "." "." ".";
}

.functionning h3 {
  font-size: 1.5em;
  font-weight: bold;
}

.functionning i {
  padding-right: 1em;
}

.functionning__number-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #9356dc;
  border-radius: 15px;
  position: absolute;
  height: 1.5em;
  width: 1.5em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  left: 20px;
}

.restaurants {
  background-color: #f6f6f6;
  padding: 3em 2em 10em 2em;
}

.restaurants h3 {
  font-size: 1.5em;
  font-weight: bold;
}

.restaurants__forms {
  padding-top: 2em;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 3% 0%;
      grid-template-areas: "." "." "." ".";
}

.restaurants__forms__card {
  -webkit-box-shadow: 5px 5px 12px 4px rgba(0, 0, 0, 0.27);
  box-shadow: 5px 5px 12px 4px rgba(0, 0, 0, 0.15);
  display: block;
  background: white;
  border-radius: 1em;
  max-height: 300px;
  position: relative;
}

.restaurants__forms__card img {
  width: 100%;
  height: 75%;
  border-radius: 1em 1em 0 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.restaurants__forms__card--new {
  position: absolute;
  top: 1em;
  right: 0.75em;
  background-color: #99e2d0;
  padding: .5em;
  border-radius: .1em;
}

.restaurants__forms__card__footer {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1em;
  color: black;
}

.restaurant-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.restaurant-image img {
  width: 120%;
}

.menu__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
/*# sourceMappingURL=main.css.map */