@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;1,300&display=swap");
* {
  margin: 0;
  text-decoration: none;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.block-page {
  max-width: 1440px;
  width: 100%;
  margin: auto;
}

.typo_logo {
  font-family: 'Shrikhand', cursive;
}

* {
  font-family: 'Roboto', sans-serif;
}

.button {
  background: #9356dc;
  background: -webkit-gradient(linear, left bottom, left top, from(#9356dc), to(#ff79da));
  background: linear-gradient(0deg, #9356dc 0%, #ff79da 100%);
  border: 0;
  border-radius: 100px;
  padding: 1.2em;
  color: white;
  text-decoration: none;
  font-weight: bold;
  -webkit-box-shadow: 5px 5px 12px 4px rgba(0, 0, 0, 0.27);
  box-shadow: 5px 5px 12px 4px rgba(0, 0, 0, 0.15);
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
}

.button:hover {
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
}

.button a {
  color: white;
}

.button-functionning {
  -webkit-box-shadow: 5px 5px 12px 4px rgba(0, 0, 0, 0.27);
  box-shadow: 5px 5px 12px 4px rgba(0, 0, 0, 0.15);
  background-color: #f6f6f6;
  padding: 2em 0 2em 2em;
  font-weight: bold;
  border-radius: 25px;
}

.button-functionning i {
  color: #818181;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 5px 5px 12px 4px rgba(0, 0, 0, 0.27);
  box-shadow: 5px 5px 12px 4px rgba(0, 0, 0, 0.15);
  border: 0;
  background-color: white;
  padding: 1em;
  z-index: 2;
  position: relative;
}

header span {
  position: absolute;
  left: 8%;
  bottom: 1.5em;
  font-size: larger;
}

footer {
  background-color: #353535;
  color: white;
  padding: 1em 2em 0 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer a {
  color: white;
  margin-bottom: 0.4em;
}

footer a:hover {
  color: #ff79da;
}

footer h4 {
  font-size: larger;
  margin-bottom: .8em;
  font-weight: normal;
}

.location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 1;
  padding: 1rem;
  background-color: #eaeaea;
}

.location h3 {
  padding-left: 1rem;
}

.home-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 2.5em;
  text-align: center;
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home-description h2 {
  padding-bottom: 0.5em;
  font-weight: bold;
  font-size: 1.6em;
}

.home-description__subtitle {
  margin-bottom: 2em;
  font-size: 1.2em;
}

.home-description__button {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 300px;
}

.functionning {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  padding: 3em 2em 3em 2em;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 7% 0px;
      grid-template-areas: "." "." ".";
}

.functionning h3 {
  font-size: 1.5em;
  font-weight: bold;
}

.functionning i {
  padding-right: 1em;
}

.functionning__number-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #9356dc;
  border-radius: 15px;
  position: absolute;
  height: 1.5em;
  width: 1.5em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  left: 20px;
}

.restaurants {
  background-color: #f6f6f6;
  padding: 3em 2em 10em 2em;
}

.restaurants h3 {
  font-size: 1.5em;
  font-weight: bold;
}

.restaurants__forms {
  padding-top: 2em;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: .5fr 1fr 1fr 1fr;
      grid-template-rows: .5fr 1fr 1fr 1fr;
  gap: 3% 0%;
      grid-template-areas: "." "." "." ".";
}

.restaurants__forms__card {
  -webkit-box-shadow: 5px 5px 12px 4px rgba(0, 0, 0, 0.27);
  box-shadow: 5px 5px 12px 4px rgba(0, 0, 0, 0.15);
  display: block;
  background: white;
  border-radius: 1em;
  max-height: 300px;
  position: relative;
}

.restaurants__forms__card img {
  width: 100%;
  height: 75%;
  border-radius: 1em 1em 0 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.restaurants__forms__card--new {
  position: absolute;
  top: 1em;
  right: 0.75em;
  background-color: #99e2d0;
  padding: .5em;
  border-radius: .1em;
}

.restaurants__forms__card__footer {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1em;
  color: black;
}

.restaurant-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.restaurant-image img {
  width: 120%;
  max-height: 30em;
  -o-object-fit: cover;
     object-fit: cover;
}

.menu {
  margin-top: -4em;
  border-radius: 2em 2em 0 0;
  padding: 2em;
  background-color: #f6f6f6;
}

.menu__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu__container__button {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 5em 0 5em 0;
}

.menu__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1em 2em 0 1em;
  margin-bottom: 2em;
}

.menu__choices {
  display: -ms-grid;
  display: grid;
  margin-bottom: 1.5em;
}

.menu__choices__card {
  background-color: white;
  padding: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 0.5em;
  margin: 1em 0 0 0;
  -webkit-box-shadow: 5px 5px 12px 4px rgba(0, 0, 0, 0.27);
  box-shadow: 5px 5px 12px 4px rgba(0, 0, 0, 0.15);
}

.menu__choices__card__infos {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.menu__choices__card__price {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-left: 0.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: bold;
}

.menu h3 {
  text-transform: uppercase;
  position: relative;
  margin-bottom: 0.5em;
}

.menu h3::after {
  content: "";
  width: 3em;
  height: .25em;
  background-color: #99e2d0;
  position: absolute;
  left: 0;
  bottom: -0.3em;
}
/*# sourceMappingURL=main.css.map */