.button
{
    background: rgb(147,86,220);
    border: 0;
    border-radius: 100px;
    padding: 1.2em;
    color: white;
    text-decoration: none;
    font-weight: bold;
    @include shadow;
    transform: scale(1);
    transition-property: transform;
    transition-duration: 300ms;
    &:hover {
        transform: scale(1.15);
    }
    a {
        color: white;
    }
}