.button
{
    background: rgb(147,86,220);
    background: linear-gradient(0deg, rgba(147,86,220,1) 0%, rgba(255,121,218,1) 100%);
    border: 0;
    border-radius: 100px;
    padding: 1.2em;
    color: white;
    text-decoration: none;
    font-weight: bold;
    @include shadow;
    transition: filter 0.3s;
    cursor: pointer;
    &:hover {
        filter: brightness(1.2);
    }
}