.like-button {
    position: absolute;
    top: 10px;
    left: -20px;
    transform: scale(1.5);
    &-true {
        background: -webkit-linear-gradient($colour-degrade);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        transition: opacity 300ms;
        transform: scale(1.6);
        opacity: 0;
        cursor: pointer;
        &:hover {
            opacity: 1;
        }
    }
}