.like-button {
    position: absolute;
    top: 10px;
    left: -20px;
    transform: scale(1.5);
    
    &-true {
        color: transparent;
        background: -webkit-linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
        transition: background 1s, transform 400ms;
        &:hover {
            transform: scale(1.60);
            background: -webkit-linear-gradient(#9c47fc, #356ad2);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }
}