.restaurant-image {
    @include justify-center; // Pour que l'image du restaurant soit centrée
    img {
        width: 120%;
        max-height: 30em;
        object-fit: cover;
    }
}
.menu {
    margin-top: -4em;
    border-radius: 2em 2em 0 0;
    padding: 2em;
    background-color: $colour-dark-white;
    &__container {
        display: flex;
        justify-content: center;
        &__button {
            justify-content: center;
            align-items: center;
            display: flex;
            margin: 5em 0 5em 0;
        
        }
    }
    &__header {
        display: flex;
        justify-content: space-between;
        padding: 1em 2em 0 1em;
        margin-bottom: 2em;
        }
    &__choices {
        display: grid;
        margin-bottom: 1.5em;
        &__card {
            background-color: white;
            padding: 1em;
            display: flex;
            border-radius: 0.5em;
            margin: 1em 0 0 0;
            animation: card-spawn 0.5s;
            opacity: 0;
            animation-fill-mode: both;  
            cursor: pointer;
            @include shadow;
            &__infos {
                flex: 1;
            }
            &__price {
                justify-content: flex-end;
                align-items: flex-end;
                padding-left: 0.5em;
                display: flex;
                font-weight: bold;
            }
            &__validation {
                background-color: $colour-tertiary;
                margin: -1em -1em -1em 1em;
                width: 0em;
                @include justify-center;
                align-items: center;
                animation-fill-mode: both;
                border-radius: 0 0.5em 0.5em 0;
                &__icon {
                    @include justify-center;
                    align-items: center;
                    height: 1.6em;
                    width: 1.6em;
                    background-color: white;
                    border-radius: 100px;
                    transform: rotate(180deg);
                    opacity: 0;
                    animation-fill-mode: both;
                    color: $colour-tertiary;
                }
                    
            }
            &:hover .menu__choices__card__validation {
                animation: validation .5s;
            }
            &:hover .menu__choices__card__validation__icon {
                animation: validation__icon .5s;
            }
        }
    }
    h3 {
        text-transform: uppercase;
        position: relative;
        margin-bottom: 0.5em;;
        &::after {
            content: "";
            width: 3em;
            height: .25em;
            background-color: #99e2d0;
            position: absolute;
            left: 0;
            bottom: -0.3em;
        }
    }
}
// Keyframes validation // 
@keyframes validation {
    from {
        width: 0em;
    }
    to {
        width: 4em;
    }
}
@keyframes validation__icon {
    from {
        transform: rotate(180deg);
        opacity: 0;
    }
    to {
        transform: rotate(0deg);
        opacity: 1;
    }
}
// Keyframes propres aux cartes des menus //
@keyframes card-spawn {
    from {
        opacity: 0;
        
    }
    to {
        opacity: 1;
        
    }
}
.delay-1 {
    animation-delay: 0.2s;
}
.delay-2 {
    animation-delay: 0.4s;
}
.delay-3 {
    animation-delay: 0.6s;
}
.delay-4 {
    animation-delay: 0.8s;
}
.delay-5 {
    animation-delay: 1s;
}
.delay-6 {
    animation-delay: 1.2s;
}
.delay-7 {
    animation-delay: 1.4s;
}
.delay-8 {
    animation-delay: 1.6s;
}
.delay-9 {
    animation-delay: 1.8s;
}
// Mediaqueries //
@media screen and (min-width: 1200px) 
{
    .menu__choices {
        display: grid; 
        grid-template-columns: 1fr 1fr 1fr; 
        grid-template-rows: 1fr; 
        gap: 0% 3%; 
        grid-template-areas: 
          ". . ."; 
    }
}