@mixin justify-center {
    display: flex;
    justify-content: center;
}
@mixin justify-column {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
@mixin shadow {
    box-shadow: 0.25rem 0.25rem 10px rgb(0 0 0 / 25%);
}