@mixin justify-center {
    display: flex;
    justify-content: center;
}
@mixin justify-column {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
@mixin shadow {
    -webkit-box-shadow: 5px 5px 12px 4px rgba(0,0,0,0.27); 
    box-shadow: 5px 5px 12px 4px rgba(0,0,0,0.15);
}