$colour-primary: #9356dc;
$colour-secondary: #ff79da;
$colour-tertiary: #99e2d0;
$colour-shadow: rgba(0, 0, 0, 0.281);
$colour-darker-white: #eaeaea;
$colour-dark-white: #f6f6f6;
$colour-footer: #353535;
$colour-degrade: (0deg, rgba(147,86,220,1) 0%, rgba(255,121,218,1) 100%);
$card-spawn-duration: 0.5s;