footer {
    background-color: $colour-footer;
    color: white;
    padding-top: 1em;
    i {
        width: 22px;
    }
    a {
        color: white;
        margin-bottom: 0.4em;
        &:hover {
            color: $colour-secondary;
        }
    }
    h4 {
        font-size: larger;
        margin-bottom: .8em;
        font-weight: normal;
    }
    &__container {
        display: flex;
        flex-direction: column;
        padding: 1em 2em 0 2em;
    }
}