footer {
    background-color: $colour-footer;
    color: white;
    padding: 1em 2em 0 2em;
    @include justify-column;
    a {
        color: white;
        &:hover {
            color: $colour-secondary;
        }
    }
}