header{
    @include justify-center;
    @include shadow;
    border: 0;
    background-color: white;
    padding: 1em;
    z-index: 2;
    position: relative;
    span {
        position: absolute;
        left: 8%;
        bottom: 1.5em;
        font-size: larger;
    }
}